= javascript_include_tag 'faces'
- provide(:title, 'Hero') 
%h1 Hero

%div{:class => "row"}
  %div{:class => "col-md-6 "}
    = form_for(@hero, html: { multipart: true }) do |f| 
      = render 'shared/error_messages', object: f.object
      = render 'shared/face_canvas', :locals => {:f => f}
      = f.label :title 
      = f.text_field :title, class: 'form-control'
      = f.label :description
      = f.text_field :description, class: 'form-control'
      = f.hidden_field :eye_right_x, class: 'form-control' 
      = f.hidden_field :eye_right_y, class: 'form-control' 
      = f.hidden_field :eye_left_x, class: 'form-control' 
      = f.hidden_field :eye_left_y, class: 'form-control' 
      %br
      = f.submit "Create hero", class: "btn btn-primary"

