!!! 5
%html
  %head
    %title Makeup Room
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

 
  %body
    %header
      %h1.title Makeup Room
    #navigation
      #tabs
        %ul{:class => "nav navbar-nav navbar-right"}
          - if true
            = render :partial => 'layouts/menuItem', :collection => [ |
              ['Home', root_path],                        |
              ['Login', '#'],                      |
              ['Sign up', signup_path]            |
            ] |
            -
          - else
            %div{'style' => "float: left;"}
              -#= render :partial => 'layouts/menuItem', :collection => [ |
                -#['Accounts', accounts_path],     |
                -#['Projects', projects_path],     |
                -#['Activities', activities_path], |
                -#['Leads', leads_path],            |
                -#['Expenses', expenses_path],            |
                -#['Invoices', invoices_path]            |
              ] |
            - 
            %div{'style' => "float: right;"}
              -#= render :partial => 'layouts/menuItem', :collection => [               |
                -#['Your profile', profile_path],                               |
                -#['Admin settings', settings_path, nil, !current_user.admin?], |
                -#['Logout', user_session_path, { :method => :delete }]         |
              ] |
            -
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:success]
        #warning.message= flash[:success]
      #container
        = yield
    #aside
      #section
        %h2 Tools
        %input.testImg#getPhoto{:type => "file"} 
        %button#getActor Upload Actor
      #section
        = render :partial => 'layouts/cloud'
    #footer
      &nbsp;
      4U 2016
    = debug(params) if Rails.env.development?  