!!! 5
%html
  %head
    %title Makeup Room
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
 
  %body
    %h1.title Makeup Room
    #navigation
      #tabs
        %ul
          - if not false
            = render :partial => 'layouts/menuItem', :collection => [ |
              ['Login', '#']                        |
            ] |
            -
          - else
            %div{'style' => "float: left;"}
              -#= render :partial => 'layouts/menuItem', :collection => [ |
                -#['Accounts', accounts_path],     |
                -#['Projects', projects_path],     |
                -#['Activities', activities_path], |
                -#['Leads', leads_path],            |
                -#['Expenses', expenses_path],            |
                -#['Invoices', invoices_path]            |
              ] |
            - 
            -##div{'style' => "float: left;margin-left: 30px"}
              -#= render :partial => 'layouts/menuItem', :collection => [ |
                -#['Domains', '#'], |
                -#['Google apps', '#'], |
                -#['Other', '#'] |
              -#] |
            -#-
            %div{'style' => "float: right;"}
              -#= render :partial => 'layouts/menuItem', :collection => [               |
                -#['Your profile', profile_path],                               |
                -#['Admin settings', settings_path, nil, !current_user.admin?], |
                -#['Logout', user_session_path, { :method => :delete }]         |
              ] |
            -
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
    #footer
      &nbsp;
      4U 2016
      